<div class="section" id="toppad">



<div class="col span_2_of_10"></div>

<div class="col span_7_of_10" id="center-col">

  <div class="section">
    <h1 class="centerhor">Login</h1>
  </div>


<div class="section">

  <div class="col span_3_of_10"></div>


    <div class="col span_4_of_10 centerhor">
  


  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.text_field(:email, {:placeholder => "Email", :required => true, :class => "forms"}) %>

    </br>
  </br>

    <%= f.password_field(:password, {:placeholder => "Password", :required => true, :class => "forms"}) %>
    </br>
  </br>
    <%= f.submit('Login') %>
    <% end %>

    </br>
    </br>

  </div>


<div class="col span_3_of_10"></div>



</div>

</br>

</div>

<div class="col span_1_of_10"></div>



</div>

