<div class="container">
  <div class="row">

<div class="col-md-2"></div>

<div class="col-md-8">
<div class="jumbotron">
	<div class="container text-center">
		
<div class="row">
  <h2>Login</h2>
</div>
  <!--  <div class="row">  
<label class="control-label">Username</label>
</div>-->
<div class="row">

  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.text_field(:email, {:placeholder => "Email", :required => true}) %>
  </div>

<!--<div class="row">
<label class="control-label">Password</label>
</div>-->

<div class="row">

    <%= f.password_field(:password, {:placeholder => "Password", :required => true}) %>
  </div>
</br>
    <div class="row">

    <%= f.submit('Login', {:class => 'btn btn-default'}) %>
</div>

    <% end %>

</div>
</div>
</div>
<div class="col-md-2">
</div>

</div>
</div>