<body id="background">
  <div class="center">
    <div class="loginContainer">
    <%= form_for(:session, url: login_path) do |f| %>

    <%= f.text_field(:username, {:placeholder => "Username", :class => 'validate', :required => true}) %>
    <%= f.password_field(:password, {:placeholder => "Password", :class => 'validate', :required => true}) %>
    <br />
    <%= f.submit('Login', {:class => 'loginButton'}) %>
    <% end %>
  </div>
  </div>
</body>
