
<div class="home-container">

<div class="home-left">
  .
</div>

<div class="row">
  <div class="col-50">
  <h2 class="center-h">Login</h2>


  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.text_field(:email, {:placeholder => "Email", :required => true, :class => "forms"}) %>

    </br>
  </br>

    <%= f.password_field(:password, {:placeholder => "Password", :required => true, :class => "forms"}) %>
    </br>
  </br>
    <%= f.submit('Login') %>
    <% end %>
</div>
</div>




<div class="home-right"></div>





</div>