<body id="background">
  <div class="homeSection">
    <div class="homeTitle">
      <h1>Welcome to Debatable!</h1>
    </div>
    <%= button_to "Login", login_path, {:class => "loginButton", :method => "get"} %>
    <%= button_to "Create Account", new_user_path, {:class => "loginButton", :method => "get"} %>
  </div>
</body>
