<body id="background">
  <div class="mainLogo">
    <%= link_to image_tag("debatable_logo_white_small.png"), root_path %>
  </div>
  <div class="centered">
    <h1>Welcome to Debatable</h1>
  </div>
</body>
