<div class="home-container">


<div class="home-left">
	<%= button_to "New Debate", new_user_debate_path(@user), {:class => 'loginButton', :method => 'get'} %>

	<%= button_to "New Firetalk", new_user_firetalk_path(@user), :method => 'get' %>
</div>



<!--HOME CENTER BLOCK-->

<div class="home-center">


	


	<div class="home-section">
	<h2>
		<strong><%= image_tag("chitchat_nav_white.png", :class => "text-center")%>
			Welcome to Debatable!
		</strong>
	</h2>

	<h3>
		<em>
		Our Mission:
	    </em>
	</h3>
	<blockquote>
		<p>
			Here at debatable, we want to give people the stage to share their opinions and be understood by their communities. Debatable is a live-video debating social media platform that bridges face to face conversation and social media interaction. Come join us on <strong>February 20th</strong> for our launch! <br><em>- The Debatable Team</em>
		</p>
	</blockquote>

</div>





<div class="home-section">





</div>






</div>







<div class="home-right">
</div>

</div>
</div>


	