<div class="section">
	<div class="col span_10_of_10 toppad">
    	<div class="center-col-shadow">

			<div class="section home-section centerhor">
			<% if !flash[:message].nil? %>
		    <%= flash[:message] %>
		    <% end %>
			</div>


			<div class="section home-hero-1 hero-1">
			<div class="home-header-container-1">
							<div class="home-header">
						<h1 class="centerhor">
							<strong>
								Welcome to Debatable <span>beta</span>!
							</strong>
							</h1>
							Todays topic:
							<%= @topic %>
							<%= link_to 'Go Debate!', join_random_firetalk_path, {:method => 'GET'} %>
							<%= link_to 'Watch Debate!', watch_random_firetalk_path, {:method => 'GET'}%>
						
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

