<div class="container">
<div class="row">
<div class="col-md-2">
	<div class="newdebatebutton">
	<%= button_to "New Debate", new_user_debate_path(@user), {:class => 'loginButton', :method => 'get'} %>
</div>
<div class="newfiretalkbutton">
	<%= button_to "New Firetalk", new_user_firetalk_path(@user), :method => 'get' %>
</div>
	</div>
		<div class="col-md-8">
<a name="mission"></a>
<div class="jumbotron">
<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10 text-center">
	<h1><%= image_tag("chitchat_logo_white_60.png", :class => "text-center")%>
		<strong>Welcome to Debatable!</strong>
	</h1>
</div>
<div class="col-md-1"></div>
</div>
</br>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
	<h3>
		<span class="glyphicon glyphicon-forward" aria-hidden="true"></span><em>
		Our Mission:</em></h3>
	<div class="text-justify">
	<blockquote>
		<p>
			Here at debatable, we want to give people the stage to share their opinions and be understood by their communities. Debatable is a live-video debating social media platform that bridges face to face conversation and social media interaction. Come join us on <strong>February 20th</strong> for our launch! <br><em>- The Debatable Team</em>
		</p>
	</blockquote>
</div>
</div>
<div class="col-md-1"></div>
</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<h2>Beta Coming Soon!</h2>
					</div>
				</div>
</div>
		</div>
<a name="connect"></a>

<a name="features"></a>
<div class="jumbotron">
	<div class="container">
		<div class="container">
<div class="row">
	<div class="col-md-12 text-center">
	<h2>What to expect:</h2>
	</div>	
</div>

		</br>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
	<h3><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
	Debates
	</h3>
	<blockquote>
	Debate and discuss any topic face-to-face with whoever you want whether they live across the globe or across the nation.
	</blockquote>
	</div>
	<div class="col-md-2"></div>
	</div>
	</br>

	<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	<h3><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
	Firetalk 
	</h3>
	<blockquote>
	Battle your friends with your words as you fight through rounds of elimination in a fast-paced debatable game.
	</blockquote>
	</div>
	<div class="col-md-2"></div>
	</div>

</br>

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
	<h3><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
	Moderation
	</h3>
	<blockquote>
	With the option of adding a moderator, you will be able to ensure there is a neutral participant, as well as keep the discussion on-topic.
	</blockquote>
	</div>
	<div class="col-md-2"></div>
</div>

</br>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	<h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	Social Media
	</h3>
	<blockquote>
	Engage in a true social atmosphere centered on intelligent debate and discussion. Where every status update can turn into the next big debate or firetalk; debatable truly brings the town hall to the web.
	</blockquote>
	</div>
	<div class="col-md-2"></div>
</div>

</br>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	<h3><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
	Share Debates
	</h3>
	<blockquote>
	Share debates on Facebook, Twitter, and other existing social media to show the world what you have been up to.
	</blockquote>
	</div>
	<div class="col-md-2"></div>

</div>
</div>
</div>
</div>

<a name="about"></a>
<div class="jumbotron">
		<div class="container">
			<div class="row">
			<div class="col-md-1">
</div>
			<div class="col-md-10">
	<h2 class="text-center">The Team:</h2>
</div>
			<div class="col-md-1">
</div>
</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
		<%= image_tag("debatableteampic.png", :class => "img-thumbnail img-responsive") %>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10"><hr></div>
	<div class="col-md-1"></div>
</div>
	<div class="row">
	<div class="col-md-2"></div>
	<div class="center-block hidden-sm hidden-xs col-md-2">
    				<div class="text-center">
	<span style="font-size:4em;" class="glyphicon glyphicon-tint" aria-hidden="true"></span>
</div>
</div>
	<div class="text-center col-md-6">
        <h4>William <br>Felix</h4>
        <h5>Front-end Developer and Co-Founder</h5>
</div>
<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="center-block hidden-sm hidden-xs col-md-2">
    				<div class="text-center">
	<span style="font-size:4em;" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
</div>
</div>
	<div class="text-center col-md-6">
        <h4>Garrick<br> Król</h4>
        <h5>Senior Developer and Co-Founder</h5>
</div>
<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="center-block hidden-sm hidden-xs col-md-2">
    				<div class="text-center">
	<span style="font-size:4em;" class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
</div>
</div>
	<div class="text-center col-md-6">
        <h4>Brandon<br> Prinz</h4>
        <h5>CEO and Founder<br>
</div>
<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="center-block hidden-sm hidden-xs col-md-2">
    				<div class="text-center">
	<span style="font-size:4em;" class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
</div>
</div>
	<div class="text-center col-md-6">
        <h4>Dane<br> Halvorson</h4>
        <h5>COO and Co-Founder<br>
</div>
<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="center-block hidden-sm hidden-xs col-md-2">
    				<div class="text-center">
	<span style="font-size:4em;" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
</div>
</div>
	<div class="text-center col-md-6">
        <h4>Marielle<br> Trumbauer</h4>
        <h5>Head of Finance and Co-Founder</h5>
</div>
<div class="col-md-2"></div>
</div>
<div class="row">
		<div class="container text-center">
			<h3>
				Questions?</br>
			Contact us at about@debatable.co
		</h3>
	</div>
</div>
</div>
</div>
</div>



<div class="col-md-2">

	<div class="text-center">

</div>

	</div>



</div>
</div>
</div>
</div>
</div>
