<%= f.text_field(:user_name, :placeholder => 'Debater name or e-mail', :required => true, :class => "forms") %>
	<h4>
	Message:
</h4>
	
<%= f.text_area(:invite_message, :placeholder => "Hi, I'd like you to join my debate!", :class => "forms") %>

