<%= render partial: 'send_invites', formats: [:js] %>
<script type="text/javascript" src="https://static.opentok.com/v2/js/opentok.min.js"></script>
<div class="one_versus_one_owner_box"></div>
<div class="one_versus_one_opponent_box"></div>
<div class="one_versus_one_moderator_box"></div>
<%= 'ONE V ONE VIEW' %>
