<html>
  <body>
    <div class="titlebox">
      <%= @debate.name %>
    <div>
    <div class="descriptionBox">
      <%= @debate.description %>
    </div>
    <div class="ownerbox"></div>
    <div class="videobox"></div>

    <script type="text/javascript" src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    
  </body>
</html>
