<html>
  <body>
    <div class="videobox"></div>
    <script type="text/javascript" src="https://static.opentok.com/v2/js/opentok.min.js"></script>

    <%= javascript_tag do %>
      alert("test")

      var apiKey = '45241592';
      var tokSessionId = '<%= j @debate.tok_session_id %>';
      var token = '<%= j @tok_token %>';

      var session = TB.initSession(tokSessionId);

      session.addEventListener("sessionConnected, sessionConnectedHandler");
      session.connect(apiKey, token);

      function sessionConnectedHandler(event) {
        session.publish("videobox")
      };

    <% end %>
  </body>
</html>
