<div class="section">
	<div class="section centerhor">

		<h1>Give us your feedback!</h1>
	</br>
		<em>

		We sincerely appreciate you for taking the time to help improve this site.

	</em>
	</div>
</br>
	<div class="section">

<div class="centerhor">
<h3>Name (optional):</h3>
</br>
<%= form_for(@feedback, :url => feedbacks_new_path) do |f| %>
<%= f.text_field(:name, {:placeholder => "Name (Optional)", :class => "forms"}) %>
</div>
</br>
<div class ="centerhor">
	<h3>Your comments:</h3></br>
<%= f.text_area(:feedback_content, {:placeholder => "Feedback", :required => true, :class => "feedback-box"}) %>
</div>
</br>
<div class="centerhor">
<%= f.submit("Submit Feedback", :class => "button") %>
<% end %>
</div>	




</div>
</div>
