<div class="footercontainer">
  <div class="widthcontainer">
    <div class="footer-link-container">


    <div class="footer-link-item">
      About
    </div>


    <div class="footer-link-item">
      Contact
    </div>


    <div class="footer-link-item">
      Legal
    </div>


    <div class="footer-link-item">
      Privacy Policy
    </div>


  </div>
  </div>
</div>
