<div class="mainLogo">
  <%= link_to image_tag("debatable_logo_white_small.png"), root_path %>
  <% if session[:user_id] != nil %>
    <%= button_to "Logout", logout_path, :method => "get" %>
  <% end %>
</div>
